body {
  background-color: #152132;
  color: #fff;
}

.counter {
  display: flex;
  gap: 40px;
}

button {
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 700;
  color: #152132;
}